@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
 }
.homeCover{
  background-image: url('./assets/images/background.png');
  background-position: center;
  background-size: cover;
}
 